html, body{
  height: 100%;
  width: 100%;
}

body{
  background-image: url("img/windows2.png");
  background-position:center top;
	background-attachment:fixed;
	background-repeat:no-repeat;
  background-size: 100% 100%;
}
.row{
  width: 90px;
  height: 50%;
  margin-top: 100px;
  margin-left:3.8%;
  text-align: center;
}


.bloc-img{
  height :20%;
}
.bloc-img img{
  height: 100%;
}
img{
  
}
