html, body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #008081;
  background-position:center top;
	background-attachment:fixed;
	background-repeat:no-repeat;
  background-size: 100% 100%;
}
.row{
  width: 100px;
  height: 40%;
/*  margin-top: 100px;*/
  margin-left:3.8%;
}
p{
  width: -moz-max-content;
}

.bloc-img{
  height :20%;
  margin-top: 40px;
  width: -moz-min-content;
}
.bloc-img img{
  height: 90%;
  margin-bottom: 10px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -120px;
    height: 300px;
    width: 257px;
}
#mycomputer{
  margin-bottom: 10px;
}
.barre{
  margin-bottom: -290px;
  width:1535px;
}


/* Popup */ 
#fade { /*--Masque opaque noir de fond--*/
  display: none; /*--masqué par défaut--*/
  background: #000;
  position: fixed; left: 0; top: 0;
  width: 100%; height: 100%;
  opacity: .80;
  z-index: 9999;
}
.popup_block{
  display: none; /*--masqué par défaut--*/
  background: black;
  color:white;
  padding: 20px;
  border: 2px solid black;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 50%; left: 50%;
  z-index: 99999;
  /*--Les différentes définitions de Box Shadow en CSS3--*/
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
  /*--Coins arrondis en CSS3--*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 1px;
}
img.btn_close {
  float: right;
  width: 543px;
  margin:-36px -20px 0 0;
}
/* */